In [1]:
from HurdatReader import *
from PlotPaths import *
import numpy as np
import scipy.stats as st
import pandas as pd
hurdat = trimHurdat(readHurdat('Data/Hurdat.txt'), timeMin = dt.datetime(1900, 1, 1, tzinfo = dt.timezone.utc))

In [2]:
def statistics_before_time(hurdat, t_minus_time, lon_min, lon_max, lat_min, lat_max):
    storm_df = pd.DataFrame()
    for storm in hurdat:
        new_row = positionBeforeArrival(hurdat[storm], t_minus_time, lon_min, lon_max, lat_min, lat_max, category_statistics=True)
        if None in new_row:
            continue
        storm_df = pd.concat([storm_df, new_row], axis = 1)
        
    storm_df = storm_df.T
    
    status_df = pd.DataFrame()
    
    STORM_STATUSES = ['TS', 'EX', 'TD', 'HU1', 'HU2', 'HU3', 'HU4', 'HU5', 'LO', 'SD', 'SS', 'DB']
    SKIP_LIST = ['datetime', 'record identifier', 'system status', '34 knot wind radii max extent (NM)', 
                 '50 knot wind radii max extent (NM)', '64 knot wind radii max extent (NM)']
    
    for status in STORM_STATUSES:
        status_series = pd.Series(status, dtype=object)
        status_list = storm_df[storm_df['system status'] == status]
        
        for key in status_list:
            if key in SKIP_LIST:
                continue
            print
            masked_col = np.ma.array(status_list[key], mask=pd.isnull(status_list[key]), dtype=float)
            status_series[key] = (np.mean(masked_col), np.std(masked_col))
        status_df = pd.concat([status_df, status_series], axis = 1)
                
        
    
    return status_df.T

In [3]:
observation_list =  statistics_before_time(hurdat, 6, lon_min=-73, lon_max=-69.5, lat_min=41, lat_max=43)
observation_list

,0,lat,lon,Max sustained wind (knots),Minimum Pressure (millibars),max wind radius (NM)
0,TS,"(39.968310616685436, 0.6275784221632962)","(-72.73533170134526, 1.5035902134464318)","(51.17283950617284, 8.228015328405444)","(993.6666666666666, 10.765170174636761)","(48.125, 23.125)"
0,EX,"(40.1, 1.214152653774091)","(-73.12916666666666, 1.5796832928012992)","(40.0, 12.162099599438687)","(1000.4545454545455, 9.519010991060672)","(125.0, 25.0)"
0,TD,"(40.95, 0.6500000000000021)","(-73.45, 0.45000000000000284)","(25.0, 10.0)","(1008.0, 2.0)","(--, --)"
0,HU1,"(38.31808275542747, 0.08191724457252647)","(-74.4073035306878, 0.09269646931220166)","(85.0, 0.0)","(951.0, 0.0)","(--, --)"
0,HU2,"(38.568754954563495, 0.35841014851696457)","(-73.1308718315038, 0.4976786984285158)","(96.29629629629629, 2.7715980642769953)","(--, --)","(--, --)"
0,HU3,"(37.65152915558413, 0.4011182009602443)","(-73.23418110987427, 0.23104688246215943)","(103.75, 3.75)","(--, --)","(--, --)"
0,HU4,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,HU5,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,LO,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,SD,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,SS,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,DB,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"

In [5]:
observation_list_2 =  statistics_before_time(hurdat, 120, lon_min=-73, lon_max=-69.5, lat_min=41, lat_max=43)
observation_list_2

/tmp/ipykernel_6185/3850217277.py:9: FutureWarning: Inferring timedelta64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=timedelta64[ns])
  storm_df = storm_df.T

,0,lat,lon,Max sustained wind (knots),Minimum Pressure (millibars),max wind radius (NM)
0,TS,"(26.10992309131608, 5.741051338649915)","(-70.1738901326751, 4.863638990394333)","(65.05555555555556, 22.177315737783356)","(965.0, 5.0)","(22.5, 2.5)"
0,EX,"(24.194117647058825, 5.3807358547972175)","(-79.1470588235294, 7.486231883936618)","(51.1764705882353, 24.16423047816909)","(997.0, 13.349157276772193)","(40.0, 20.0)"
0,TD,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,HU1,"(20.267174106081335, 1.867174106081336)","(-65.83323651905835, 6.833236519058339)","(87.5, 22.5)","(990.0, 0.0)","(--, --)"
0,HU2,"(22.018068299939838, 0.31806829993983854)","(-67.08245592361686, 3.9175440763831304)","(56.66666666666667, 6.666666666666668)","(--, --)","(--, --)"
0,HU3,"(24.076226712330403, 4.07382006642827)","(-64.24855590906894, 12.10186318649211)","(75.0, 30.0)","(--, --)","(--, --)"
0,HU4,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,HU5,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,LO,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,SD,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,SS,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"
0,DB,"(--, --)","(--, --)","(--, --)","(--, --)","(--, --)"